body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.spotify-link {
    color: #1db954;
}

.song-of-the-week {
    background: #1db954;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-center {
    text-align: center;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.font-bold {
    font-weight: bold;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}


.iframe {
    border-radius: 12px;
}